.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h4 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .letterContainer {
    width: 12rem;
    margin: 0.5rem;
    h2 {
      margin: 0;
    }
  }
}
